@import "modules/reset";
@import "modules/variables";
@import "modules/layout";
@import "modules/utilities";

body, html {
  padding: 0;
  margin: 0;
}

#app {
  padding: 20px 20px;
  background: $pink;
  color:$white;
}

footer {
  display:flex;
  justify-content: space-between;
  a {
    outline: none;
    color: lighten($text-secondary, 10%);
    font-size:14px;
    text-decoration: underline;
    font-family: "Ubuntu Condensed", Ubuntu, Helvetica, Arial;
    &:hover {
      color: $white;
    }
  }
}

.popup-content {
  min-width: 220px;
  min-height: 100px;
 // max-width: 350px;
}

.app-name {
  font-size: 14px;
  text-transform: uppercase;
  color: $text-secondary;
  text-align: center;
  margin: 0 auto 1em auto;
  padding: 0;
}

.site-description {
  padding: 0.5em;
  border: 1px solid $gray;
  margin: 0;

  h3 {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $gray;
    padding-bottom: 0.5em;
  }

  .description {
    color: $text-secondary;
    max-height: 100px;
    font-size: 0.8em;
    line-height: 1.2;
  }

  .url {
    outline: none;
    text-decoration: none;
    line-height: 1.2;
    font-size: 0.8em;
    word-break: break-word;
    display: block;
  }
}

.action-container {
  margin: 1em auto;
}

.btn {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1.5em;
  background: $brand-primary;
  color: $white;
  font-weight: $headings-font-weight;
  border-radius: 2px;
  outline: none;
  font-size: 1em;
}

#projects {
  position:relative;
  .success {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba($pink,.85);
    display: grid;
    p {
      margin:auto;
      font-weight: bold;
    }
  }
}

.form {

  &-top {
    min-width: 450px;
    display: grid;
    grid-template-columns: 33px min-content 107px min-content min-content;
  }
  &-bottom {
    display:grid;
    grid-template-columns: repeat(2, min-content) 1fr;
  }

  p {
    color: $pinkish;
    font-family: "Ubuntu Condensed", Ubuntu, Helvetica, Arial;
    margin:0;
    padding-left: 1ch;
    padding-right: 1ch;
  }
  label {
    color:$pinkish;
    font-family: "Ubuntu Condensed", Ubuntu, Helvetica, Arial;
    margin-right:1ch;
  }
  .field.comment {
    display: flex;
    justify-content: flex-end;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input, select {
  font-family: Ubuntu, Helvetica, Arial;
  padding-left:5px;
  padding-right:5px;
  text-align: center;
}

input[type=date] {
  padding-right: 0;
}

option {
  background-color: $pink;
  color:$pinkish;
}
